.recommended {
    flex: 0.8;
    padding: 40px 20px;
    padding-bottom: 0px;
}

.recommended > h2 {
    margin-left: 20px;
    margin-bottom: 0px;
}

.recommended__videos {
    display: flex;
    flex-wrap: wrap;
}