.sidebar__row {
    align-items: center;
    display: flex;
    padding: 10px 20px;
}

.sidebar__row:hover {
    background-color: lightgray;
    cursor: pointer;
}
.sidebar__row:hover > .sidebar__icon {
    color: blue;
}

.sidebar__title {
flex: 1;
margin-left: 20px;
font-size: 12px;
font-weight: 500;

}

.sidebar_icon {
    color: #606060;
    font-size: large !important;

}

