.videoCard {
width: 270px;
margin-bottom: 40px;
}

.thumbnail__image {
height: 140px;
width: 250px;
}

.video-details {
display: flex;
margin-top: 10px;
padding-right: 30px;
}

.video-text {
margin-left: 20px;
}

.video-text > h4 {
font-size: 14px;
margin-bottom: 5px;
}

.video-text > p {
font-size: 14px;
color: gray;
}